adium-theme-ubuntu==0.3.4
alabaster==0.7.8
ansible==2.0.0.2
awscli==1.11.14
Babel==2.3.4
beautifulsoup4==4.4.1
botocore==1.4.71
chardet==2.3.0
colorama==0.3.7
CommonMark==0.5.4
decorator==4.0.6
docutils==0.12
ecdsa==0.13
futures==3.0.5
html5lib==0.999
httplib2==0.9.1
imagesize==0.7.1
ipython==2.4.1
Jinja2==2.8
jmespath==0.9.0
lxml==3.5.0
MarkupSafe==0.23
meld==3.14.2
netaddr==0.7.18
numpy==1.11.0
paramiko==1.16.0
pexpect==4.0.1
Pillow==3.1.2
ptyprocess==0.5
pyasn1==0.1.9
pycrypto==2.6.1
Pygments==2.1
pygobject==3.20.0
PyOpenGL==3.0.2
Pyrex==0.9.8.5
python-dateutil==2.6.0
pytz==2016.4
PyYAML==3.11
recommonmark==0.4.0
rsa==3.4.2
s3transfer==0.1.9
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.4
unity-lens-photos==1.0
vboxapi==1.0
