# Config for 'concrete mode' (mode set in conf/global.conf).

# Specify the maximum number of sounds to play simultaneously
# Note: lower the number of sounds to lessen CPU load
concurrent_sounds=2

# Path to audio files for 'main' sounds, eg audio_main_path=/home/pi/main_sounds
audio_main_path=

# If you have sounds you want to play against 'main' sounds rather than
# themselves, you can specify a directoy path here
# eg audio_alt_path=/home/pi/alt_sounds
audio_alt_path=audio/alt


# FX settings
fx_chain_enabled=1

# Endless play means that when we've run out of sounds to play we
# restart the app.
endless_play=0

